@import 'shared';

.root {
  display: flex;
  flex-direction: column;
  margin: px(100) 0;

  .title {
    text-align: center;
    font-size: px(20);
    letter-spacing: 2px;
    margin-bottom: px(50);

    @include media-desktopSm {
      text-align: left;
    }
  }

  .descriptionContainer {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;

    @include media-desktopSm {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .description {
      text-align: center;
      width: 100%;

      @include media-desktopSm {
        text-align: left;
        width: 50%;
      }

      p {
        font-size: px(14);
        margin-bottom: px(20);
        line-height: 1.5;

        @include media-tablet {
          font-size: px(16);
        }
      }
    }

    .image {
      max-width: 100%;
      max-height: 100%;
      width: 400px;
      height: auto;
      border-radius: 5%;
      margin-bottom: px(50);

      @include media-desktopMd {
        width: 500px;
        margin-bottom: 0;
      }
    }
  }
}
